mixin videoBlock(video)
  .videoBlock
    a.videoBlock__video(href=routes.videoDetail(video.id))
      video.videoBlock__thumbnail(src='/' + video.fileUrl)
    h4.videoBlock__title= video.title
    if video.creator.name
      .videoBlock__author
        span Uploaded by
        a.link(href=routes.userDetail(video.creator.id))= video.creator.name
    h6.videoBlock__views= video.views === 1 ? '1 view' : video.views + ' views'
    p.videoBlock__description= video.description
